
body{
  background-color:inherit;
  color: red;
  font: normal 100% Cambria, Georgia, serif;
}
.footer {
    font-size: .8rem;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
.output {
    background: #eee;
    position: relative;
}
